funasr>=1.1.0
modelscope>=1.14.0
# 若需开启 GPU 加速，请勿直接执行默认安装，需根据 README 中的指令安装对应 CUDA 版本的 torch/torchaudio
torch>=2.1.0
torchaudio>=2.1.0
numpy<2.0.0
pyaudio
silero-vad
requests
edge-tts
pygame
fastapi
uvicorn
websockets
python-multipart
aiohttp
